language: node_js
node_js:
  - 13

services:
  - docker

script:
  - docker --version # print the version for logging
  - docker build -t udagram_api_feed --build-arg POSTGRES_USERNAME=$POSTGRES_USERNAME,POSTGRES_PASSWORD=$POSTGRES_PASSWORD,POSTGRES_HOST=$POSTGRES_HOST,POSTGRES_DB=$POSTGRES_DB,AWS_BUCKET=$AWS_BUCKET,AWS_REGION=$AWS_REGION,AWS_PROFILE=$AWS_PROFILE,JWT_SECRET=$JWT_SECRET,URL=$URL,FEED_PORT=$FEED_PORT, .
  - docker tag udagram_api_feed kbessetteudacity/udagram_api_feed:latest

after_success:
  - docker push kbessetteudacity/udagram_api_feed